/* h1 {
    color: blue;
}

p {
    color: green;
}

#copyright-text {
    color: brown;
}

.tfp-text {
    color: violet;
}
 */

/* * {
    color: green;
}

p {
    background-color: aqua;
} */
/* 
.fruit.ull {
    background-color: yellow;
    color: red;
}

.vegetable {
    background-color: green;
}

.marigold {
    background-color: black;
} */

/* p {
    background-color: aqua;
} */

.title {
    background-color: yellow;
}
.text {
    background-color: lime;
}

.html.title {
    color: red;
}
