* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    background-color: #282d70;
    gap: 24px;
}

.link-item {
    background-color: aliceblue;
    padding: 4px 8px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 600ms ease-in-out;

    &:hover {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 12px;
        border: 2px solid #3f4ae8;
    }
}

.search {
    border-radius: 12px;
    padding: 8px 16px;
    outline: none;
    border: none;
    flex-grow: 1;
    max-width: 400px;
}

.menu {
    background-color: cadetblue;
    height: 36px;
    width: 36px;
    border: 3px solid burlywood;
    border-radius: 50%;
    cursor: pointer;
    transition: all 600ms ease-in-out;

    &:hover {
        border: 6px dashed burlywood;
    }
}
